*,*::before,*::after{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Hanken Grotesk';
    src: url(/font/HankenGrotesk-VariableFont_wght.ttf);
}

.main{
    /* margin: 10em auto; */
    font-family: 'Hanken Grotesk';
    border-radius: 30px;
    max-width: 47em;
    min-height: 33em;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    border: none;
    position: relative;
}
.purplebox{
    border-radius: 30px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100%;
    position: absolute;
    grid-column:1/4;
    z-index: 1;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    text-align: center;
}
.purplebox h3{
    font-size: 25px;
    color: hsl(241, 100%, 89%);
    margin-bottom: -25px;
    margin-top: 1em;
}
.circle{
    display: flex;
    justify-content:center;
    color: hsl(241, 63%, 76%);
    flex-direction: column;
    position: relative;
    border-radius: 50%;
    min-height: 12em;
    min-width: 12em;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}
.circle h1{
    font-size: 4.5em ;
    color: white;
    padding:px;
    margin-bottom:-7px;
}
.purplebox h2{
    font-size: 30px;
    color: white;
    margin-bottom: 1em;
    margin-top: -1em;
}
.purplebox p{
    color:hsl(241, 100%, 89%) ;
    max-width: 56%;
    margin-bottom:3.5em;
    margin-top: -3.8em;
    text-align: center;
}












.whitebackround{
    padding-left: 56%;
    grid-column: 1/7;
    border:none;
    border-radius: 30px;
    box-shadow: 0 0 2em hsl(241, 100%, 89% , 0.5) ;
}
.whitebox{
    min-height: 80%;
    margin: 2em auto;
    margin-right: 3.6em;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    row-gap: 1em;
}
.box{
    display: flex;
    justify-content: space-between;
    border: solid green;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
}
.lefttext{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:0.4em;
    text-align: start;

}
.box.red{
    background-color:hsl(0, 100%, 67%, 0.1) ;
}
.box.yellow{
    background-color: hsl(39, 100%, 56%, 0.1);
}
.box.green{
    background-color: hsl(166, 100%, 37%, 0.1);
}

